<!--<h3>Employees List</h3>
<table border ="2">
  <tr>
    <th>Employee Id</th>
    <th>Employee Name</th>
    <th>Email Address</th>
    <th>Gender</th>
  </tr>
  <tr *ngFor="let e of emps">
    <td>{{e.empId}}</td>
    <td>{{e.firstName}}</td>
    <td>{{e.emailId}}</td>
    <td>{{e.gender}}</td>
  </tr>
</table>
-->
<form [formGroup]="registrationForm" (ngSubmit)="onEmpSubmit()" class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Registration Form</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" [ngClass]="{'has-error' : registrationForm.get('firstName').errors && (registrationForm.get('firstName').touched || registrationForm.get('firstName').dirty)}">
        <label class="col-sm-2 control-label" for="firstName">Full Name</label>
        <div class="col-sm-8">
          <input id="firstName" formControlName="firstName" type="text" class="form-control">
          <span class="help-block" *ngIf="registrationForm.get('firstName').errors && (registrationForm.get('firstName').touched || registrationForm.get('firstName').dirty)">
            <span *ngIf="registrationForm.get('firstName').errors.required">
              Full Name is required
            </span>
            <span *ngIf="registrationForm.get('firstName').errors.minlength || registrationForm.get('firstName').errors.maxlength">
              Full Name must be greater than 2 characters and less than 10 characters
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Email Address</label>
        <div class="col-sm-8">
          <input id="emailId" type="text" formControlName="emailId" class="form-control">
          <span class="help-block" *ngIf="registrationForm.get('emailId').errors && (registrationForm.get('emailId').touched || registrationForm.get('emailId').dirty)">
            <span *ngIf="registrationForm.get('emailId').errors.required">
              Email address is required
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="gender">Gender</label>
        <div class="col-sm-8">
          <input type="radio" value="male" formControlName="gender">Male
          <input type="radio" value="female" formControlName="gender">Female
          <span class="help-block" *ngIf="registrationForm.get('gender').errors && (registrationForm.get('gender').touched || registrationForm.get('gender').dirty)">
            <span *ngIf="registrationForm.get('gender').errors.required">
             Gender is required
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit" [disabled]="!registrationForm.valid">Submit</button>
    </div>
  </div>
</form>