<div>

  <h2> This is another child component </h2>
  
    <h3 class="text-center">{{uname}} - is the same data passed from parent component to header component and child component as well</h3>
  
  <button (click)="passData()">Send data back to parent</button>

</div>