<h4 class="text-center">Angular Routing</h4>
<table class="table table-bordered">
  <tr class="bg-primary">
    <th>Id</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name }}</td>
    <td>{{user.username}}</td>
    <td>{{user.email }}</td>
  </tr>
</table>