<h1>{{pageTitle}}</h1>

<h2>Property Binding</h2>
<button [disabled]="btnStatus">Click</button>

<h2>Event Binding</h2>
<button (click)="changeTitle()">Change Title</button>

<h2>Two Way Data Binding</h2>
<input type="text" [(ngModel)]="username"/>
<h4> Welcome {{username}} </h4>