<div id="wrapper">
  <div [class.loading]="(loading$ | async)" id="shopping-list" *ngIf="!(error$ | async); else error">
    <div id="list">
      <h2>
        Shopping List
      </h2>

        <ul *ngIf="(shoppingItems | async); else noItems">
          <li *ngFor="let shopping of shoppingItems | async" (click)="deleteItem(shopping.id)">
            <span>{{ shopping.name }}</span>
          </li>
        </ul>

      <ng-template #noItems>
        <ul>
          <li style="max-width:250px;margin:0 auto;">No items found. Are you sure there's <em>nothing</em> you want?</li>
        </ul>
      </ng-template>
    </div>

    <form (ngSubmit)="addItem()">
      <input type="text" [(ngModel)]="newShoppingItem.name" placeholder="Item" name="itemName"/>
      <button type="submit" >+</button>
    </form>
  </div>
</div>

<ng-template #error>
  <h2>{{(error$ | async)?.message}}</h2>
</ng-template>
<app-registration></app-registration>
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Employee Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/employees'>Employees<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/users'>Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/about'>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contact'>Contact</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<div>

  <h1 class="text-center"> {{title}} </h1>

  <p>
    In Angular, we can create a component by (ng generate component component-name OR ng g c component-name)<br>
    1. Create a typescript class using keyword class followed by classname<br>
    2. Attach metadata using @Component decorator<br>
    3. Import our component in AppModule and add it in declarations[] of @NgModule decorator
  </p>

  <app-header [uname]="username"></app-header>

  <h4 class="text-center">{{childData}}</h4>
  <app-child [uname]="username" class="text-center" (notify)="parentMethod($event)"></app-child>

  <br>
  <p class="text-center">This is a normal paragraph</p>
  <p class="text-center" appCustomDirective>This is a paragraph with extra markup</p>

  <div>
    <h1>Creating New Module</h1>
    <app-view></app-view>
  </div>

  <div>
    <app-binding></app-binding>
  </div>

  Username: <input type="text">
  <button type="submit">Submit</button>

  <br>
  <br>
  <input type="text" [(ngModel)]="myModel" (blur)="onBlurMethod()" placeholder="Demonstrate onBlur()">

</div>

<h4 class="text-center">This table is displaying data from javascript object</h4>
<strong>Gender</strong>
    <select [(ngModel)]="gender">
      <option></option>      
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
<table class="table table-bordered">
  <tr class="bg-primary">
    <th>Name</th>
    <th>Employee Id</th>
    <th>Gender</th>
  </tr>
  <tr *ngFor="let emp of employees | tableFilter: gender">
    <td>{{emp.name}}</td>
    <td>{{emp.empid }}</td>
    <td>{{emp.gender }}</td>
  </tr>
</table>

<h4 class="text-center">This table is displaying data from service </h4>
<table class="table table-bordered">
  <tr class="bg-primary">
    <th>Id</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name }}</td>
    <td>{{user.username}}</td>
    <td>{{user.email }}</td>
  </tr>
</table>

<br>

<div *ngIf="testData else noData">
  <table class="table table-bordered">
    <tr class="bg-primary">
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let t of testData">
      <td>{{t.id}}</td>
      <td>{{t.name }}</td>
      <td>{{t.username}}</td>
      <td>{{t.email }}</td>
    </tr>
  </table>
</div>

<ng-template #noData>
  <p class="alert alert-danger text-center">{{errorMessage}}</p>
</ng-template>

<!--
  <h1>Routing works like this...</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">User Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/users'>Users <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/about'>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contact'>Contact</a>
      </li>
    </ul>
  </div>
</nav>
-->



