<!--
  Implement a table with each row having checkbox, 
  Name( Text in json ) ,employee Id( id in json ) and dropdown of courses( Tags in Json ). 
-->
<h3 class="text-center">Employees List</h3>

<div *ngIf="copyOfEmployees.length>0 else noEmployeeData">
 
<div>
  <input type="search" class="form-control" placeholder="Search Employee Here..." [(ngModel)]="searchEmployee"><br>
</div>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th class="text-center" (click)="sort('name')">Name</th>
      <th class="text-center" (click)="sort('id')">Employee Id</th>
      <th class="text-center">Courses</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of copyOfEmployees | employeeFilter: searchEmployee; let i=index">
      <td class="text-center"><input type="checkbox" [(ngModel)]="emp.selected" (change)="selected(emp)"></td>
      <td class="text-center">{{emp.name}}</td>
      <td class="text-center">{{emp.id}}</td>
      <td class="text-center">
        <select class="form-control" [(ngModel)]="emp.courseSelected">
          <option *ngFor="let course of courses" [value]="course.name">
            <!--have a span to handle undefined-->
           <span *ngIf="course.name==undefined">Not available</span>
           {{course.name}}
          </option>
        </select>
      </td>
      <td class="text-center"><button (click)="deleteRow(emp.id)"> Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
<ng-template #noEmployeeData>
  <p class="alert alert-danger text-center">There are no existing employees</p>
</ng-template>

<div class="modal-footer">  
  <!--write a function for hidden property, check the number of selected checkboxes, if the number of checkboxes length>0-->
  <button type="submit" class="btn btn-primary" [hidden]="selectedEmployees.length==0" (click)="onSubmit()">Submit</button>
  <!--Add a reset button to reload the page-->
  <button type="reset" class="btn btn-secondary" [hidden]="selectedEmployees==0" (click)="onReset()">Reset</button>
</div> 

<div *ngIf="submitButtonStatus==true && selectedEmployees.length>0">
  <h4>Selected Employees List</h4>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Employee Id</th>
        <th class="text-center">Courses</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of selectedEmployees">
        <td class="text-center">{{emp.name}}</td>
        <td class="text-center">{{emp.id}}</td>
        <td class="text-center">{{emp.courseSelected}}</td>
      </tr>
    </tbody>
  </table>
</div>
